<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotelname</th>
      <th>distance</th>
      <th>roomtype_x</th>
      <th>address</th>
      <th>city</th>
      <th>onsiterate</th>
      <th>maxoccupancy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>58</th>
      <td>Millenium Apartments</td>
      <td>2.019899</td>
      <td>Executive Apartment</td>
      <td>28-30 Rivington Street</td>
      <td>london</td>
      <td>170.13</td>
      <td>4</td>
    </tr>
    <tr>
      <th>560</th>
      <td>St Georges Pimlico Hotel</td>
      <td>4.893927</td>
      <td>Single Room</td>
      <td>115 St Georges Drive</td>
      <td>london</td>
      <td>166.94</td>
      <td>4</td>
    </tr>
    <tr>
      <th>858</th>
      <td>Central Hotel London - King's Cross</td>
      <td>4.047987</td>
      <td>Standard Single</td>
      <td>16 - 18 Argyle Street, Kings Cross</td>
      <td>london</td>
      <td>163.67</td>
      <td>4</td>
    </tr>
    <tr>
      <th>955</th>
      <td>Huttons Hotel</td>
      <td>4.726186</td>
      <td>Standard Quad Room</td>
      <td>53-57 Belgrave Road</td>
      <td>london</td>
      <td>0.00</td>
      <td>4</td>
    </tr>
    <tr>
      <th>963</th>
      <td>Melbourne House Hotel</td>
      <td>4.675689</td>
      <td>Single Room</td>
      <td>79 Belgrave Road</td>
      <td>london</td>
      <td>0.00</td>
      <td>4</td>
    </tr>
  </tbody>
</table>